// Put your custom SCSS code here
.navbar-custom-button {
    background-color: #497286 !important;
    border-color: #497286 !important;
  }

  .navbar-custom-button:hover {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
  }

  .logo-navbar {
    height: 55px;
    margin-bottom: -25px;
    margin-top: -20px;
  }
  